body{
    font-family: SpaceMono, Arial, sans-serif;
    background-color:#1b4348;
    color:#47c5bf;font-weight:200;
    font-size:16px;
}

body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16012b+0,011e2b+100 */
background: #16012b; /* Old browsers */
background: -moz-linear-gradient(top, #16012b 0%, #011e2b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #16012b 0%,#011e2b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #16012b 0%,#011e2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16012b', endColorstr='#011e2b',GradientType=0 ); /* IE6-9 */
}